@mixin gen-grid($size: false, $prefix: 'grid__col') {
  .#{$prefix} {
    @for $i from 1 through $grid-columns {

      $class: #{$i}-#{$grid-columns};

      @if $size {
        $class: #{$size}-#{$class};
      }

      &--#{$class} {
        $width: (100 / $grid-columns) * $i;
        width: $width * 1%;
      }
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: rem(-$gutter);

  &--v-center {
    align-items: center;
  }

  &__col {
    padding-left: rem($gutter);
    width: 100%;
  }

  &--thin {
    margin-left: rem(-$gutter / 2);

    .grid__col {
      padding-left: rem($gutter / 2);
    }
  }

  &--border-seperated {
    margin-left: 0;

    .grid__col {
      padding-left: 0;
      position: relative;

      &:before {
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }

      &:after {
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
      }
    }
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: rem($gutter);
  padding-right: rem($gutter);

  &--thin {
    max-width: rem(640px + $gutter * 2);
  }

  &--wide {
    max-width: rem(880px + $gutter * 2);
  }
}

@include gen-grid;

@include media('>=tablet') {
  @include gen-grid('sm');
}
