.hero-background {
  background-color: rgba($black, .8);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;

  &:before {
    background-color: $black;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &__image {
    height: 100%;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    img {
      object-position: bottom right !important;
    }
  }

  &--contact,
  &--work {
    .hero-background__image img {
      object-position: bottom center !important;
    }
  }
}
