@use "sass:math";

.icon {
  display: block;
  height: 0;
  overflow: hidden;
  padding-bottom: percentage(math.div(24, 24));
  position: relative;

  &__el {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
