.primary-navigation {
  font-size: rem(28px);
  height: 100%;
  opacity: 0;
  padding-left: rem($gutter);
  padding-right: rem($gutter);
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: -1;

  @include media('>big-phone') {
    align-items: center;
    display: flex;
    font-size: rem(16px);
    height: rem($header-height-desktop);
    line-height: rem(20px);
    padding-left: 0;
    padding-right: 0;
    right: rem(90px);
    text-align: right;
    width: auto;
    z-index: 10;

    .header-active & {
      opacity: 1;
    }
  }

  &__list {
    left: 0;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    @include media('>big-phone') {
      display: inline-block;
      position: static;
      transform: none;
      vertical-align: top;
      width: auto;
    }
  }

  &__item {
    display: block;
    margin-bottom: rem(8px);

    &:last-of-type {
      margin-bottom: 0;

      .primary-navigation__link {
        @include media('>big-phone') {
          padding-right: 0;
        }
      }
    }

    &:first-of-type {
      .primary-navigation__link {
        @include media('>big-phone') {
          padding-left: 0;
        }
      }
    }

    @include media('<=big-phone') {
      opacity: 0;
      transform: translateX(rem(-100px));

      $delay: .2s;
      $initial-delay: 0s;

      .primary-navigation--active & {
        animation-delay: .5s;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-name: fade-in-right;
        animation-timing-function: ease-in-out;

        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            animation-delay: $initial-delay + ($delay * $i);
          }
        }
      }
    }

    @include media('>big-phone') {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: top;

      &:after {
        color: rgba($orange, .4);
        content: '/';
        display: inline-block;
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }
  }

  &__link {
    text-decoration: none;

    @include media('>big-phone') {
      @include bold;
      display: inline-block;
      padding-left: rem(8px);
      padding-right: rem(8px);
      vertical-align: top;
    }

    @include media('>tablet') {
      &:hover {
        color: $black;
      }
    }
  }

  &__inner {
    height: 100%;
    padding-top: rem(50px);
    position: relative;

    @include media('>big-phone') {
      height: auto;
      padding-top: 0;
    }
  }

  &--active {
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
    background-color: $white;
    z-index: 9;

    @include media('>big-phone') {
      animation: none;
      background-color: transparent;
      z-index: -1;

      .header-active & {
        z-index: 10;
      }
    }
  }
}

.primary-navigation-show-hide {
  line-height: rem(18px);
  outline: none;
  padding: 0;

  .hamburger-box {
    vertical-align: top;
  }

  @include media('>big-phone') {
    display: none;
  }
}
