.social-media {
  letter-spacing: rem(-3.9px);

  &__item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }

  &__link {
    align-items: center;
    display: inline-flex;
    height: rem(30px);
    justify-content: center;
    vertical-align: top;
    width: rem(30px);
  }

  &__icon {
    display: inline-block;
    padding-bottom: 0;
    position: relative;
    vertical-align: top;
  }

  &--header {
    .social-media__icon {
      height: rem(22px);
      width: rem(22px);
    }
  }

  &--introduction {
    .social-media__item {
      margin-left: rem(1px);
      margin-right: rem(1px);
    }

    .social-media__icon {
      height: rem(26px);
      width: rem(26px);
    }
  }
}
