.timeline {
  position: relative;
  text-align: center;

  &__major-period {
    margin-bottom: rem(-6px);

    &--last {
      margin-bottom: 0;
    }
  }

  &__period-title {
    @include h4-big;
    margin-bottom: 0;

    &--major-change {
      padding-bottom: 0;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    flex-flow: column-reverse nowrap;
    text-decoration: none;
  }

  &__content-item {
    margin-bottom: rem(56px);

    .line-segment__line {
      display: none;
    }

    &--timeline-company-grid {
      margin-left: auto;
      margin-right: auto;
      max-width: rem(300px);

      @include media('>=tablet') {
        max-width: none;
      }
    }

    &--last {
      margin-bottom: 0;

      .line-segment__line {
        display: block;
      }
    }

    &--perm {
      text-align: left;
    }
  }

  // Contracting

  &__header-title {
    margin-bottom: rem(14px);
    max-width: rem(300px);
    width: 100%;

    &--hidden {
      left: -9999em;
      position: absolute;
    }
  }

  &__segment {
    &--liminal-pages {
      .timeline__contracting-logo {
        width: rem(175px);
      }
    }

    &--fundsmith-llp {
      .timeline__contracting-logo {
        width: rem(150px);
      }
    }
  }

  &__contracting-logo {
    margin-bottom: rem($line-border-header);
    width: rem(100px);
  }

  &__started-freelancing {
    margin-bottom: rem(6px);
  }

  // Perm

  &__perm-logo {
    margin-bottom: rem($line-border-header);
    width: rem(50px);
  }

  &__perm-title {
    margin-bottom: 0;
  }

  &__perm-role {
    @include h4-big($black);
    margin-bottom: rem($line-border);
  }

  &__perm-grid {
    @include media('>tablet') {
      justify-content: space-between;
    }
  }

  &__perm {
    @include media('>tablet') {
      max-width: rem($perm-desktop-max-width + $gutter);
      width: 50%;
    }
  }

  &__period-title-content {
    display: block;
  }
}

.js-site-animations {
  .timeline__period-title-content {
    opacity: 0;
    transform: translateY(rem(50px));
  }

  .timeline__content-module,
  .timeline__contracting-logo,
  .timeline__header-title,
  .timeline__started-freelancing,
  .timeline__content-item--perm {
    opacity: 0;
    transform: translateY(rem(100px));
  }
}
