.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;

  &__main {
    flex: 1 1;
    padding-top: rem($header-height-mobile);

    @include media('>big-phone') {
      padding-top: rem($header-height-desktop);
    }
  }
}