.about {
  text-align: center;

  &__inner {
    @include section-inner;
  }

  &__profile-pic {
    border-radius: 50%;
    margin-bottom: rem(10px);
    max-width: rem(200px);
    min-width: rem(100px);
    width: percentage(120 / (320 - 24 * 2));

    .js & {
      opacity: 0;
      transform: translateY(rem(100px));
    }
  }
}

.js {
  .about__content {
    opacity: 0;
    transform: translateY(rem(100px));
  }
}
