.about {
  text-align: center;

  &__inner {
    @include section-inner;
  }

  &__profile-pic {
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: 200px;
    min-width: 100px;
    width: percentage(120 / (320 - 24 * 2));

    .js & {
      opacity: 0;
      transform: translateY(100px);
    }
  }

  &__content {
    $delay: .3s;
    .js & {
      p {
        opacity: 0;
        transition: all .5s ease-in-out;
        transform: translateY(100px);

        @for $i from 2 through 3 {
          &:nth-child(#{$i}) {
            transition-delay: #{$delay * $i};
          }
        }
      }

      &--active {
        p {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
