$branding-switch-delay: .5s;

.branding {
  @include bold;
  color: $orange;
  display: inline-block;
  text-decoration: none;
  width: rem(167px);

  &__part {
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: width .3s $branding-switch-delay ease-in-out, transform .3s $branding-switch-delay ease-in-out;
  }

  &__full-part {
    display: inline-block;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(0);
    transition: opacity .3s $branding-switch-delay ease-in-out, transform .3s $branding-switch-delay ease-in-out;
  }

  &__part {
    display: inline-block;

    &--one {
      width: rem(65px);
    }

    &--two {
      transform: translateX(0);
      width: rem(94px);
    }
  }

  &__minimal-part {
    background-color: $white;
    position: relative;
    z-index: 2;

    &--one {
      left: rem(-2px);
    }

    &--two {
      left: rem(-2.3px);
    }
  }

  &__full-part {
    &--one {
      right: rem(2px);
    }

    &--two {
      right: rem(2.3px);
    }
  }

  &--minimal {
    overflow: hidden;

    .header-active & {
      .branding__part--one {
        width: rem(18px);
      }

      .branding__part--two {
        transform: translateX(rem(-4px));
        width: rem(24px);
      }

      .branding__full-part--one {
        opacity: 0;
        transform: translateX(rem(-62px));
      }

      .branding__full-part--two {
        opacity: 0;
        transform: translateX(rem(-90px));
      }
    }
  }
}
