.button {
  @include bold;
  background-color: $orange;
  border: none;
  border-radius: rem(5px);
  color: $white;
  cursor: pointer;
  display: inline-block;
  padding: rem(10px) rem(14px);
  vertical-align: top;

  &:hover {
    background-color: darken($orange, 5);
  }
}
