.main-footer {
  @include footer-size;
  background: $footer-background;
  color: $footer-text;
  overflow: hidden;
  padding-top: 18px;
  text-align: center;

  &__inner {
    padding-left: 12px;
    padding-right: 12px;
  }

  &__back-to-top {
    display: block;
  }
}
