@mixin gen-grid($prefix: 'grid__col') {
  .#{$prefix} {
    &--1-12 {
      width: 8.333333333333333%;
    }

    &--2-12 {
      width: 16.666666666666667%;
    }

    &--3-12 {
      width: 25%;
    }

    &--4-12 {
      width: 33.333333333333333%;
    }

    &--5-12 {
      width: 41.666666666666667%;
    }

    &--6-12 {
      width: 50%;
    }

    &--7-12 {
      width: 58.333333333333333%;
    }

    &--8-12 {
      width: 66.666666666666666%;
    }

    &--9-12 {
      width: 75%;
    }

    &--10-12 {
      width: 83.333333333333333%;
    }

    &--11-12 {
      width: 83.333333333333333%;
    }

    &--12-12 {
      width: 100%;
    }
  }
}

.container {
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  margin-left: -$gutter;

  &--v-center {
    align-items: center;
  }

  &__col {
    padding-left: $gutter;
  }
}

@include gen-grid;
