@mixin gen-grid($size: false, $prefix: 'grid__col') {
  .#{$prefix} {
    @for $i from 1 through $grid-columns {

      $class: #{$i}-#{$grid-columns};

      @if $size {
        $class: #{$size}-#{$class};
      }

      &--#{$class} {
        $width: (100 / $grid-columns) * $i;
        width: $width * 1%;
      }
    }
  }
}

.grid {
  flex-wrap: wrap;
  display: flex;
  margin-left: -$gutter;

  &--v-center {
    align-items: center;
  }

  &__col {
    padding-left: $gutter;
    width: 100%;
  }

  &--thin {
    margin-left: -$gutter / 2;

    .grid__col {
      padding-left: $gutter / 2;
    }
  }

  &--border-seperated {
    margin-left: 0;

    .grid__col {
      padding-left: 0;
      position: relative;

      &:before {
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }

      &:after {
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
      }
    }
  }
}

.container {
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: auto;
  margin-right: auto;

  &--thin {
    max-width: 640px + $gutter * 2;
  }

  &--wide {
    max-width: 880px + $gutter * 2;
  }
}

@include gen-grid;

@include media('>=tablet') {
  @include gen-grid('sm');
}
