.main-header {
  background-color: $white;
  box-shadow: 0 5px 20px 3px rgba($black, .05);
  height: 50px;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity .3s ease-in-out;
  width: 100%;
  z-index: 10;

  &__inner {
    padding-left: $gutterHalf;
    padding-right: $gutterHalf;

    @include media('>big-phone') {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }

  &__branding {
    @include header-branding-size;
    position: relative;
    top: 6px;

    @include media('>big-phone') {
      top: 11px;
    }

    @include media('>tablet') {
      &:hover {
        color: $black;
      }
    }
  }

  .header-active & {
    opacity: 1;
  }

  @include media('<=big-phone') {
    .primary-navigation-active & {
      border-bottom: 1px solid rgba($black, .05);
    }
  }

  &--navigation-active {
    box-shadow: none;
  }

  @include media('>big-phone') {
    height: 60px;
  }

  &__social-media {
    margin-bottom: 0;
    position: absolute;
    right: 42px;
    top: 8px;

    @include media('>big-phone') {
      right: 18px;
      top: 14px;
    }

    path {
      fill: $orange;
    }
  }

  @include media('>tablet') {
    .social-media__link:hover {
      path {
        fill: $black;
      }
    }
  }
}
