.main-header {
  background-color: $white;
  box-shadow: 0 rem(5px) rem(20px) rem(3px) rgba($black, .05);
  height: rem($header-height-mobile);
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity .3s ease-in-out;
  width: 100%;
  z-index: 10;

  @include media('>big-phone') {
    height: rem($header-height-desktop);
  }

  &__inner {
    align-items: center;
    display: flex;
    height: 100%;
    padding-left: rem($gutterHalf);
    padding-right: rem($gutterHalf);

    @include media('>big-phone') {
      padding-left: rem($gutter);
      padding-right: rem($gutter);
    }
  }

  &__branding {
    @include header-branding-size;
    flex: none;
    margin-right: auto;
    position: relative;
    vertical-align: top;

    @include media('>tablet') {
      &:hover {
        color: $black;
      }
    }
  }

  .header-active & {
    opacity: 1;
  }

  .primary-navigation-active & {
    &:after {
      @include media('<=tablet') {
        background-color: rgba($black, .05);
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  &--navigation-active {
    @include media('<=big-phone') {
      box-shadow: none;
    }
  }

  &__social-media {
    margin-bottom: 0;

    @include media('<=big-phone') {
      margin-right: rem(5px);
    }

    @include media('>big-phone') {
      position: relative;
      right: rem(-4px);
    }

    path {
      fill: $orange;
    }
  }

  @include media('>tablet') {
    .social-media__link:hover {
      path {
        fill: $black;
      }
    }
  }
}
