.hero-background {
  background-color: rgba($black, .8);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;

  &__image {
    backface-visibility: hidden;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
    z-index: 1;
  }

  &__overlay {
    background-color: $black;
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &--work {
    .hero-background__image {
      background-position: bottom center;
    }
  }

  &--contact {
    .hero-background__image {
      background-position: top left;
    }
  }
}
