.introduction {
  @include bold;
  color: $white;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__content {
    align-self: center;
    opacity: 1;
    transform: translateY(0);
  }

  &:after {
    background: $black;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__header {
    margin-bottom: 38px;
  }

  &__heading {
    @include bold;
    margin-bottom: 14px;
  }

  &__heading-name {
    color: $orange;
    display: block;
    font-size: 46px;
    margin-bottom: 4px;
    // text-shadow: 0 2px 1px $text-image-shadow;
  }

  &__heading-role {
    // text-shadow: 0 2px 4px $text-image-shadow;
    display: block;
    font-size: 16px;
  }

  &__navigation-item {
    display: inline-block;

    &:after {
      color: rgba($white, .4);
      content: '/';
      font-size: 14px;
    }

    &:last-of-type:after {
      display: none;
    }
  }

  &__navigation-link {
    color: $white;
    font-size: 14px;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }

  &__social-media {
    path {
      fill: $white;
    }

    .social-media__link:hover {
      path {
        fill: $orange;
      }
    }
  }
}

.js {
  .introduction {
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
  }

  .introduction .hero-background__image {
    animation-delay: .5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    filter: blur(0);
  }

  .introduction__content {
    animation-delay: .5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
  }

  .introduction--background-loaded {
    animation-name: fade-in;

    .hero-background__image {
      animation-name: blur;
    }

    .introduction__content {
      animation-name: fade-in-up;
    }
  }

  .introduction--initial-animation-complete .introduction__content {
    animation-name: none;
    opacity: 1;
  }
}
