.line-segment {
  position: relative;

  &--horizontal {
    .no-js & {
      &:after {
        background-color: $border-orange;
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  &--vertical {
    .no-js &  {
      &:before {
        background-color: $border-orange;
        content: '';
        display: none;
        height: 100%;
        margin-left: -.5px;
        left: 50%;
        position: absolute;
        width: 1px;
      }
    }
  }

  &--start {
    padding-top: $line-border + $small-vertical-separator-height +  $line-border-header;

    .no-js & {
      &:before {
        display: block;
        height: $small-vertical-separator-height;
        top: $line-border;
      }
    }
  }

  &--start-title {
    padding-top: $line-border + $small-vertical-separator-height + 4px;

    .no-js & {
      &:before {
        display: block;
        height: $small-vertical-separator-height;
        top: $line-border;
      }
    }
  }

  &--header {
    padding-bottom: $small-vertical-separator-height + $line-border-header;
    margin-bottom: 36px;

    .no-js & {
      &:before {
        bottom: $line-border-header;
        display: block;
        height: $small-vertical-separator-height;
      }
    }
  }

  &--period-title {
    padding-bottom: 6px + $medium-vertical-separator-height + $line-border;

    .no-js & {
      &:before {
        bottom: $line-border;
        display: block;
        height: $medium-vertical-separator-height;
      }
    }
  }

  &--content {
    padding-bottom: 14px;
  }

  &--medium-separator {
    padding-bottom: $line-border-header + $medium-vertical-separator-height + $line-border;

    .no-js & {
      &:before {
        bottom: $line-border;
        display: block;
        height: $medium-vertical-separator-height;
      }
    }
  }

  &--big-separator {
    padding-bottom: $big-vertical-separator-height;

    .no-js & {
      &:before {
        bottom: 0;
        display: block;
        height: $big-vertical-separator-height;
      }
    }
  }


  &--period-title-perm {
    padding-bottom: 6px + $small-vertical-separator-height + $line-border-header;

    .no-js & {
      &:before {
        bottom: $line-border-header;
        display: block;
        height: $small-vertical-separator-height;
      }
    }
  }

  &--perm-branch {
    @include media('>tablet') {
      padding-bottom: 0;
      padding-top: $small-vertical-separator-height + $line-border-header;

      .no-js & {
        &:before {
          top: 0;
          display: block;
          height: $small-vertical-separator-height
        }
      }

      > .line-segment__line--mobile-perm-separator {
        display: none;
      }
    }
  }

  &--freelancing {
    .no-js & {
      &:after {
        bottom: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: calc(100% - #{$perm-desktop-max-width});
      }
    }
  }

  &--hide-mobile-horizontal {
    @include media('<=tablet') {
      padding-bottom: 0;

      .no-js & {
        &:after {
          display: none;
        }
      }

      > .line-segment__line--horizontal {
        display: none;
      }
    }
  }

  &--hide-mobile-vertical {
    @include media('<=tablet') {
      padding-bottom: 0;

      .no-js & {
        &:before {
          display: none;
        }
      }

      > .line-segment__line--vertical {
        display: none;
      }
    }
  }

  &--hide-desktop-horizontal {
    @include media('>tablet') {
      padding-bottom: 0;

      .no-js & {
        &:after {
          display: none;
        }
      }

      > .line-segment__line--horizontal {
        display: none;
      }
    }
  }

  &--hide-desktop-vertical {
    @include media('>tablet') {
      padding-bottom: 0;

      .no-js & {
        &:before {
          display: none;
        }
      }

      > .line-segment__line--vertical {
        display: none;
      }
    }
  }

  &__line {
    display: block;
    position: absolute;
    overflow: hidden;

    .no-js & {
      display: none;
    }

    &--horizontal {
      height: 1px;
      bottom: 0;
      left: 0;
      width: 100%;

      .line-segment__part {
        height: 1px;
        width: 50%;
      }

      .line-segment__part-left {
        left: 0;

        .js & {
          .line-segment__contents {
            transform: translateX(100%);
          }
        }
      }

      .line-segment__part-right {
        right: 0;

        .js & {
          .line-segment__contents {
            transform: translateX(-100%);
          }
        }
      }
    }

    &--horizontal-left {
      height: 1px;
      bottom: 0;
      left: 0;
      width: 100%;

      .js & {
        .line-segment__contents {
          transform: translateX(-100%);
        }
      }
    }

    &--vertical {
      left: 50%;
      margin-left: -.5px;
      bottom: 0;
      width: 1px;

      .js & {
        .line-segment__contents {
          transform: translateY(-100%);
        }
      }
    }

    &--grey {
      &.line-segment__line--vertical,
      &.line-segment__line--horizontal .line-segment__part {
        background-color: $border-grey;
      }
    }

    &--big-separator {
      height: $big-vertical-separator-height;
    }

    &--medium-separator {
      bottom: $line-border;
      height: $medium-vertical-separator-height;
    }

    &--small-separator {
      height: $small-vertical-separator-height;
      top: $line-border;
    }

    &--small-separator-header {
      bottom: $line-border-header;
      height: $small-vertical-separator-height;
    }

    &--freelancing {
      bottom: auto;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      width: calc(100% - #{$perm-desktop-max-width});
    }

    &--perm-branch {
      @include media('>tablet') {
        bottom: auto;
        height: $small-vertical-separator-height;
        top: 0;
        display: block;
      }
    }
  }

  &__part {
    display: block;
    position: absolute;
    overflow: hidden;
  }

  &__contents {
    background-color: $border-orange;
    display: block;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
