.quote {
  &__profile-pic {
    border-radius: 50%;
    filter: grayscale(100%);
    width: rem(100px);

    @include media('>tablet') {
      align-self: flex-start;
      margin-right: rem($gutter);
    }
  }

  &__quote {
    p {
      &:first-of-type:before,
      &:last-of-type:after {
        color: $orange;
        display: inline-block;
        font-family: Times;
        font-size: rem(24px);
        font-weight: bold;
        line-height: rem(24px);
        position: relative;
        top: rem(3px);
      }

      &:first-of-type:before {
        content: '\201C\0020';
        margin-right: rem(4px);
      }

      &:last-of-type:after {
        content: '\0020\201D';
        margin-left: rem(4px);
      }
    }
  }

  &__attribution {
    @include small-bold;
  }

  &__attribution-company {
    display: block;
  }

  @include media('>tablet') {
    display: flex;
    text-align: left;
  }
}
