.section-hero {
  @include bold;
  @include section-inner;
  background-color: $white;
  color: $white;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;

  &__title {
    @include h2;
  }
}
