.skills {
  &__main-secondary {
    display: inline;
  }

  &__inner {
    @include section-inner;
  }

  &__set {
    @include section-break;

    &:last-of-type {
      @include remove-section-break;
    }
  }

  &__main {
    @include section-break;

    &:last-of-type {
      @include remove-section-break;
    }
  }

  &__secondary {
    padding-bottom: rem(14px);

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.js {
  .skills__main-title {
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  .skills--active {
    .skills__main-title {
      opacity: 1;
    }
  }

  .skills__secondary-inner {
    opacity: 0;
    transform: translateY(rem(100px));
  }
}
