.skills {
  &__main-secondary {
    display: inline;
  }

  &__inner {
    @include section-inner;
  }

  &__set {
    @include section-break;

    &:last-of-type {
      @include remove-section-break;
    }
  }

  &__main {
    @include section-break;

    &:last-of-type {
      @include remove-section-break;
    }
  }

  &__secondary {
    padding-bottom: 14px;

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}
