.social-media {
  letter-spacing: -3.9px;

  &__item {
    display: inline-block;
    height: 30px;
    text-align: center;
    vertical-align: top;
    width: 28px;
  }

  &__link {
    display: block;
    height: 100%;
    width: 100%;
  }

  &__icon {
    display: inline-block;
    padding-bottom: 0;
    position: relative;
    top: 50%;
    transform: translateY(-8px);
    vertical-align: top;

    &--twitter {
      height: 16px;
      width: 20px;
    }

    &--linkedin {
      height: 16px;
      width: 16px;
    }
  }
}
