.timeline {
  padding-top: $line-border + $small-vertical-separator-height + 4px;
  position: relative;
  text-align: center;

  &__segment {
    padding-bottom: 10px + $medium-vertical-separator-height + $line-border;

    &--digirati {
      margin-top: -16px;
    }

    &--major-change {
      padding-bottom: $big-vertical-separator-height;
    }
  }

  &__major-period {
    margin-bottom: -16px;

    &--last {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &__period-title {
    @include h4-big;
    margin-bottom: 0;
    padding-bottom: 6px + $medium-vertical-separator-height + $line-border;

    &--major-change {
      padding-bottom: 0;
    }

    &--perm {
      padding-bottom: 6px + $small-vertical-separator-height + $line-border-header;
    }
  }

  &__header {
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    display: flex;

    &--contracting {
      padding-bottom: $small-vertical-separator-height + $line-border-header;
      margin-bottom: 36px;
    }
  }

  &__content-item {
    margin-bottom: 56px;

    .line-segment__line {
      display: none;
    }

    &--last {
      @include section-break;
      margin-bottom: 0;

      .line-segment__line {
        display: block;
      }
    }

    &--last-timeline-item {
      padding-bottom: 0;
    }

    &--perm {
      text-align: left;
    }
  }

  // Contracting

  &__header-title {
    margin-bottom: 14px;
    width: 100%;
  }

  &__contracting-logo {
    margin-bottom: $line-border-header;
    width: 100px;
  }

  &__started-freelancing {
    margin-bottom: 6px;
  }

  // Perm

  &__perm-logo {
    margin-bottom: $line-border-header;
    width: 50px;
  }

  &__perm-title {
    margin-bottom: 0;
  }

  &__perm-role {
    @include h4-big($black);
    margin-bottom: $line-border;
  }
}





.line-segment {
  position: relative;

  &__line {
    display: block;
    position: absolute;

    &--horizontal {
      height: 1px;
      bottom: 0;
      left: 0;
      width: 100%;

      .line-segment__part {
        background-color: $border-orange;
        height: 1px;
        width: 50%;
      }

      .line-segment__part-left {
        left: 0;
      }

      .line-segment__part-right {
        right: 0;
      }
    }

    &--vertical {
      background-color: $border-orange;
      left: 50%;
      margin-left: -.5px;
      bottom: 0;
      width: 1px;
    }

    &--grey {
      &.line-segment__line--vertical,
      &.line-segment__line--horizontal .line-segment__part {
        background-color: $border-grey;
      }
    }

    &--big-separator {
      height: $big-vertical-separator-height;
    }

    &--medium-separator {
      bottom: $line-border;
      height: $medium-vertical-separator-height;
    }

    &--small-separator {
      height: $small-vertical-separator-height;
      top: $line-border;
    }

    &--small-separator-header {
      bottom: $line-border-header;
      height: $small-vertical-separator-height;
    }
  }

  &__part {
    display: block;
    position: absolute;
  }
}
