.timeline {
  padding-top: 20px + 40px + 4px;
  position: relative;
  text-align: center;

  &__segment {
    padding-bottom: 10px + 80px + 20px;

    &--digirati {
      margin-top: -16px;
    }

    &--major-change {
      padding-bottom: 70px;
    }
  }

  &__major-period {
    margin-bottom: -16px;

    &--last {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &__period-title {
    @include h4-big;
    margin-bottom: 0;
    padding-bottom: 6px + 80px + 20px;

    &--major-change {
      padding-bottom: 0;
    }

    &--perm {
      padding-bottom: 6px + 40px + 20px;
    }
  }

  &__header {
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    display: flex;

    &--contracting {
      padding-bottom: 40px + 10px;
      margin-bottom: 36px;
    }
  }

  &__content-item {
    margin-bottom: 56px;

    .line-segment__line {
      display: none;
    }
    
    &--last {
      @include section-break;
      margin-bottom: 0;

      .line-segment__line {
        display: block;
      }
    }

    &--last-timeline-item {
      padding-bottom: 0;
    }

    &--perm {
      text-align: left;
    }
  }

  // Contracting

  &__header-title {
    margin-bottom: 14px;
    width: 100%;
  }

  &__contracting-logo {
    margin-bottom: 10px;
    width: 100px;
  }

  &__started-freelancing {
    margin-bottom: 6px;
  }

  // Perm

  &__perm-logo {
    margin-bottom: 10px;
    width: 50px;
  }

  &__perm-title {
    margin-bottom: 0;
  }

  &__perm-role {
    @include h4-big($black);
    margin-bottom: 20px;
  }
}

.line-segment {
  position: relative;

  &__line {
    display: block;
    position: absolute;

    &--horizontal {
      height: 1px;
      bottom: 0;
      left: 0;
      width: 100%;

      .line-segment__part {
        background-color: $border-orange;
        height: 1px;
        width: 50%;
      }

      .line-segment__part-left {
        left: 0;
      }

      .line-segment__part-right {
        right: 0;
      }
    }

    &--vertical {
      background-color: $border-orange;
      left: 50%;
      margin-left: -.5px;
      bottom: 0;
      width: 1px;
    }

    &--grey {
      &.line-segment__line--vertical,
      &.line-segment__line--horizontal .line-segment__part {
        background-color: $border-grey;
      }
    }

    &--header-vertical {
      bottom: 10px;
      height: 40px;
    }

    &--after-contract {
      bottom: 20px;
      height: 80px;
    }

    &--started-freelancing {
      height: 70px;
    }

    &--perm-period {
      bottom: 20px;
      height: 50px;
    }

    &--period-title-perm {
      bottom: 20px;
      height: 40px;
    }

    &--period-title {
      bottom: 20px;
      height: 80px;
    }

    &--timeline-start {
      height: 40px;
      top: 20px;
    }
  }

  &__part {
    display: block;
    position: absolute;
  }
}
