{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "classes": true
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "semi": [1, "never"],
    "max-len": "off",
    "no-underscore-dangle": "off",
    "arrow-body-style": "off",
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.babel.js"
      }
    }
  },
  "globals": {
    "Modernizr": true,
    "ga": true,
    "Waypoint": true
  },
  "plugins": ["prettier"]
}
