{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-config-prettier"
  ],
  "rules": {
    "selector-pseudo-element-colon-notation": "single",
    "alpha-value-notation": "number",
    "max-nesting-depth": [
      3,
      {
        "ignore": ["blockless-at-rules", "pseudo-classes"],
        "ignoreAtRules": ["include"]
      }
    ],
    "color-function-notation": "legacy"
  }
}
