<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{global.title}}</title>
    <link href="/assets/css/{{global.name}}.css" rel="stylesheet">
  </head>
  <body>
    {{> introduction introduction}}
    {{> about about}}
    {{> skills skills}}
    {{> work work}}
    {{> contact contact}}
    {{> footer footer}}
    <script src="assets/js/{{global.name}}.js"></script>
  </body>
</html>
