<section class="about">
  <div class="container about__inner">
    <img class="about__profile-pic" src="{{profile-pic.src}}" alt="{{profile-pic.alt}}" />
    <div class="">
      {{{body}}}
    </div>
  </div>
</section>
