<section class="section about js-about-content">
  <div class="container container--thin about__inner line-segment line-segment--start line-segment--vertical"  data-line-v="about-one" data-line-v-class="line-segment__line--small-separator">
    <div class="line-segment line-segment--header line-segment--vertical line-segment--horizontal" data-line-v="about-two" data-line-v-class="line-segment__line--small-separator-header" data-line-h="about-three">
      <img class="about__profile-pic js-animate-profile-pic" src="{{about.profile-pic.src}}" alt="{{about.profile-pic.alt}}" />
    </div>
    <div class="js-animate-trigger-about-content">
      <div class="about__content js-animate-about-content">
        {{{about.body}}}
        <h3 class="heading-four">Connect with me</h3>
        {{>social-media links=global.social-media-full}}
      </div>
    </div>
  </div>
  {{> section-anchor id="about"}}
</section>
