<section class="section contact">
  {{> section-hero introduction name="contact" class="contact"}}
  <div class="container container--wide contact__inner">
  {{> form form}}
  </div>
  {{> section-anchor id="contact"}}
</section>
