<header>
  <div class="container">
    <strong class="">Paul Masek</strong>
    <ul class="">
  {{#each global.navigation}}
      <li class="">
        <a class="" href="{{link}}">{{text}}</a>
      </li>
  {{/each}}
    </ul>
  </div>
</header>
