{{#if horizontal}}
  <div class="line-segment__line line-segment__line--horizontal {{#if grey}} line-segment__line--grey{{/if}} {{class}}">
    <span class="line-segment__part line-segment__part-left"></span>
    <span class="line-segment__part line-segment__part-right"></span>
  </div>
{{else if vertical}}
  <div class="line-segment__line line-segment__line--vertical{{#if grey}} line-segment__line--grey{{/if}} {{class}}"></div>
{{/if}}
