<div class="">
  <strong class="heading-three">{{period}}</strong>
  <div class="timeline__segment line-segment">
    <h3 class="heading-three">{{title}}</h3>
    {{#each modules}}
      <div class="timeline__content-item {{#if @last }}timeline__content-item--last{{/if}} line-segment">
        {{> ( lookup . 'module') data}}
        {{#unless @last}}
          {{>line-segment grey=true horizontal=true}}
        {{else}}
          {{>line-segment horizontal=true}}
        {{/unless}}
      </div>
    {{/each}}
    {{>line-segment vertical=true class="line-segment__line--after-contract"}}
  </div>
</div>
