<div class="">
  <div class="container">
    <h2>{{title}}</h2>
    <div class="">
      {{{content}}}
    </div>
    <div style="background-image: url('{{background.src}}')">{{background.alt}}</div>
  </div>
</div>
