<div class="section-hero">
  <div class="container">
    <h2 class="section-hero__title">{{title}}</h2>
    <div class="">
      {{{content}}}
    </div>
    <div class="hero-background" style="background-image: url('{{background.src}}')">{{background.alt}}</div>
  </div>
</div>
