<ul class="social-media {{class}}">
  <li class="social-media__item">
    <a class="social-media__link" href="{{links.twitter}}">
    {{> icon class="social-media__icon social-media__icon--twitter" name="twitter" twitter=true}}
    </a>
  </li>
  <li class="social-media__item">
    <a class="social-media__link" href="{{links.linkedin}}">
      {{> icon class="social-media__icon social-media__icon--linkedin" name="linkedin" linkedin=true}}
    </a>
  </li>
</ul>
