<div class="timeline__major-period">
  <strong class="timeline__period-title timeline__period-title--major-change">{{period}}</strong>
  <div class="timeline__segment line-segment">
    <div class="timeline__header timeline__header--contracting line-segment">
      <h3 class="heading-three timeline__header-title">{{title}}</h3>
      {{>line-segment vertical=true class="line-segment__line--small-separator-header"}}
      {{>line-segment horizontal=true class="line-segment__line--header-h"}}
    </div>
    {{#each modules}}
      <div class="timeline__content-item {{#if no-border}} timeline__content-item--no-border{{/if}}{{#if @last }} timeline__content-item--last{{/if}} line-segment">
        {{> ( lookup . 'module') data}}
        {{#unless no-border}}
          {{#unless @last}}
            {{>line-segment grey=true horizontal=true}}
          {{else}}
            {{>line-segment horizontal=true}}
          {{/unless}}
        {{/unless}}
      </div>
    {{/each}}
    {{>line-segment vertical=true class="line-segment__line--medium-separator"}}
  </div>
</div>
