<div class="timeline line-segment line-segment--start-title line-segment--vertical">
  {{> timeline-contracting}}
  {{> timeline-remote freelancing.remote}}
  {{> timeline-started-freelancing}}
  {{> timeline-perm}}
  {{>line-segment vertical=true class="line-segment__line--small-separator"}}
</div>
