<div class="timeline line-segment">
  {{> timeline-contracting}}
  {{> timeline-remote freelancing.remote}}
  {{> timeline-started-freelancing}}
  {{> timeline-perm}}
  {{>line-segment vertical=true class="line-segment__line--timeline-start"}}
</div>
