<div class="timeline__major-period">
  <strong class="timeline__period-title timeline__period-title--major-change">{{period}}</strong>
  <div class="timeline__segment line-segment line-segment--vertical line-segment--medium-separator">
    <div class="timeline__header line-segment line-segment line-segment--horizontal line-segment--vertical line-segment--header">
      <h3 class="heading-three timeline__header-title">{{title}}</h3>
      {{>line-segment vertical=true class="line-segment__line--small-separator-header" name="work"}}
      {{>line-segment horizontal=true class="line-segment__line--header-h"  name="work-horizontal"}}
    </div>
    {{#each modules}}
      <div class="timeline__content-item timeline__content-item--{{module}} {{#if no-border}} timeline__content-item--no-border{{/if}}{{#if @last }} timeline__content-item--last line-segment line-segment--content line-segment--horizontal{{/if}}">
        {{> ( lookup . 'module') data}}
        {{#unless no-border}}
          {{#unless @last}}
            {{>line-segment grey=true horizontal=true}}
          {{else}}
            {{>line-segment horizontal=true name="work-horizontal"}}
          {{/unless}}
        {{/unless}}
      </div>
    {{/each}}
    {{>line-segment vertical=true class="line-segment__line--medium-separator" name="work"}}
  </div>
</div>
