<div class="timeline__segment timeline__segment--major-change line-segment line-segment--big-separator line-segment--vertical">
  <strong class="timeline__period-title timeline__period-title--major-change">{{freelancing.start-date}}</strong>
  <h3 class="heading-two timeline__started-freelancing">{{freelancing.start-title}}</h3>
  {{>line-segment vertical=true class="line-segment__line--big-separator"}}
</div>
