<section class="work section">
  {{> section-hero introduction class="work" name="work"}}
  <div class="container container--thin work__inner">
    {{> timeline timeline}}
  </div>
  {{> section-anchor id="work"}}
</section>
