<form action="{{action}}" class="form form--contact js-form" method="post">
  <div class="form__fields">
    <div class="grid form__inputs">
      <div class="grid__col grid__col--sm-6-12 form-row">
        <label class="form-label" for="name">Name</label>
        <input class="text-input" id="name" name="name" required type="text" />
      </div>
      <div class="grid__col grid__col--sm-6-12 form-row">
        <label class="form-label" for="email">Email</label>
        <input class="text-input" id="email" name="email" required type="email" />
      </div>
      <div class="grid__col grid__col--sm-12-12 form-row">
        <label class="form-label" for="message">Message</label>
        <textarea class="text-input" id="message" required name="message" rows="10"></textarea>
      </div>
    </div>
    <input class="button" type="submit" value="Submit" />
  </div>
  <div class="form__result form__result--success">{{{contact-success}}}</div>
  <div class="form__result form__result--failed">{{{contact-failed}}}</div>
  <div class="form__loading">Form submission in progress</div>
</form>