  <div class="hero-background{{#if modifier}} hero-background--{{modifier}}{{/if}}{{#if className}} {{className}}{{/if}}">
    <img class="hero-background__image js-animate-section-hero-background" src="{{ image.src }}" alt="{{ image.alt }}" />
  </div>