<div class="timeline__major-period  js-animate-trigger-date-title">
  <strong class="timeline__period-title timeline__period-title--major-change timeline__period-title-content js-animate-date-title">{{period}}</strong>
  <div class="timeline__segment line-segment line-segment--vertical line-segment--medium-separator" data-line-v="work-after-modules" data-line-v-class="line-segment__line--medium-separator">
    <div class="timeline__header line-segment line-segment line-segment--horizontal line-segment--vertical line-segment--header" data-line-v="work-small-after-title" data-line-v-class="line-segment__line--small-separator-header" data-line-h="work-horizontal-after-title" data-line-h-class="line-segment__line--header-h">
      <div class="js-animate-trigger-contracing-title">
        <h3 class="heading-three timeline__header-title js-animate-contracting-title">{{title}}</h3>
      </div>
    </div>
    {{#each modules}}
      <div class="timeline__content-item timeline__content-item--{{module}}{{#if no-border}} timeline__content-item--no-border{{/if}}{{#if @last }} timeline__content-item--last line-segment line-segment--content line-segment--horizontal{{/if}} js-animate-trigger-content-module"{{#unless no-border}}{{#if @last}} data-line-h="work-horizontal-after-modules"{{/if}}{{/unless}}>
        <div class="timeline__content-module js-animate-content-module">
        {{> ( lookup . 'module') data}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
