<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>{{global.title}}</title>
    <script src="assets/js/modernizr-2.8.3.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
    <link href="assets/css/{{global.name}}.css" rel="stylesheet">
  </head>
  <body>
    {{> analytics}}
    {{> header}}
    {{{ block "main"}}}
    {{> footer}}
    <script src="assets/js/{{global.name}}.js"></script>
  </body>
</html>
