@mixin v-hidden {
  left: -9999em;
  position: absolute;
}

@mixin section-inner {
  padding-bottom: rem($double-lh);
  padding-top: rem(56px);
}

@mixin section-break($color: $border-orange) {
  margin-bottom: rem($double-lh-header);
}

@mixin remove-section-break {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
