@mixin v-hidden {
  left: -9999em;
  position: absolute;
}

@mixin section-inner {
  padding-bottom: $double-lh;
  padding-top: 56px;
}

@mixin section-break($color: $border-orange) {
  // border-bottom: 1px solid $color;
  margin-bottom: $double-lh-header;
}

@mixin remove-section-break {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
