html {
  @include body-font;
}

a {
  color: $orange;
}

p,
ol,
ul,
form,
img,
.form-row,
.quote,
.quote__attribution {
  margin-bottom: 1.3em;
}

.no-break {
  margin-bottom: 0;
}

.heading-two {
  @include h2;
}

.heading-three {
  @include h3;
}

.heading-three-alt {
  @include h3-alt;
}

.heading-four {
  @include h4;
}

.heading-four-alt {
  @include h4-alt;
}

.hero-background {
  background-color: $black;
  left: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;

  &__image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% + 8px);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 8px);
    filter: blur(4px);
    z-index: 1;
  }

  &__overlay {
    background-color: $black;
    left: 0;
    height: 100%;
    opacity: .3;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
  }
}

.form-label {
  @include h4;
  margin-bottom: 6px;
}

.text-input {
  @include small-size;
  background-color: $white;
  border: 1px solid $border-grey;
  border-radius: 0;
  display: block;
  padding: 11px 13px;
  width: 100%;
  appearance: none;
}
