html {
  @include body-font;
}

a {
  color: $orange;
}

p,
ol,
ul,
form,
img,
.form-row,
.quote,
.quote__attribution {
  margin-bottom: 1.3em;
}

.no-break {
  margin-bottom: 0;
}

.heading-two {
  @include h2;
}

.heading-three {
  @include h3;
}

.heading-three-alt {
  @include h3-alt;
}

.heading-four {
  @include h4;
}

.heading-four-alt {
  @include h4-alt;
}

.form-label {
  @include h4;
  margin-bottom: 6px;
}

.text-input {
  @include small-size;
  background-color: $white;
  border: 1px solid $border-grey;
  border-radius: 0;
  display: block;
  padding: 11px 13px;
  width: 100%;
  appearance: none;
}

.primary-navigation-active {
  overflow: hidden;
}
