@mixin body-font {
  @include regular;
  @include base-size;
  color: $off-black;
}

@mixin regular {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

@mixin regular-italic {
  font-style: italic;
  font-weight: 400;
}

@mixin bold {
  font-weight: 700;
}

@mixin bold-italic {
  font-style: italic;
  font-weight: 700;
}

@mixin base-size {
  font-size: 16px;
  line-height: 1.3;
  // font-size: 24px;
}

@mixin header-branding-size {
  font-size: 30px;

  // font-size: 36px;
  // line-height: 42px;
}

@mixin small-size {
  font-size: 14px;
}

@mixin footer-size {
  @include small-size;
}

@mixin h2-size {
  font-size: 26px;
  //36px;
  margin-bottom: 18px;
  // font-size: 36px;
}

@mixin h3-size {
  font-size: 22px;
  margin-bottom: 20px;
}

@mixin h4-size {
  font-size: 1rem;
}

@mixin h2($color: $orange) {
  @include bold;
  @include h2-size;
  color: $color;
  display: block;
}

@mixin h3($color: $orange) {
  @include bold;
  @include h3-size;
  color: $color;
  display: block;
}

@mixin h3-alt {
  @include h3($black);
}

@mixin h4($color: $orange) {
  @include bold;
  @include h4-size;
  color: $color;
  display: block;
}

@mixin h4-alt {
  @include h4($black);
}
