@mixin body-font {
  @include regular;
  @include base-size;
  color: $off-black;
}

@mixin regular {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

@mixin regular-italic {
  font-style: italic;
  font-weight: 400;
}

@mixin bold {
  font-weight: 700;
}

@mixin bold-italic {
  font-style: italic;
  font-weight: 700;
}

@mixin highlighted {
  font-size: rem(18px);
}

@mixin base-size {
  font-size: rem(16px);
  line-height: 1.5;
}

@mixin header-branding-size {
  font-size: rem(30px);
}

@mixin small-size {
  font-size: rem(13px);
}

@mixin footer-size {
  @include small-size;
}

@mixin h2-size {
  font-size: rem(26px);
  margin-bottom: rem(18px);
}

@mixin h3-size {
  font-size: rem(22px);
  margin-bottom: rem(20px);
}

@mixin h4-big-size {
  font-size: rem(18px);
}

@mixin h4-size {
  font-size: rem(16px);
  margin-bottom: rem(13px);
}

@mixin small-bold {
  @include bold;
  color: $black;
  font-size: rem(14px);
}

@mixin h2($color: $orange) {
  @include bold;
  @include h2-size;
  color: $color;
  display: block;
}

@mixin h3($color: $orange) {
  @include bold;
  @include h3-size;
  color: $color;
  display: block;
}

@mixin h3-alt {
  @include h3($black);
}

@mixin h4($color: $black) {
  @include bold;
  @include h4-size;
  color: $color;
  display: block;
}

@mixin h4-big($color: $orange) {
  @include bold;
  @include h4-big-size;
  color: $color;
  display: block;
}
