$black: #000;
$white: #fff;
$off-black: #0b0b0b;
$orange: #ff670c;
$border-grey: rgba($black, .1);
$border-orange: rgba($orange, .4);

$gutter: 24px;

$double-lh: 36px;
$double-lh-header: 34px;
$single-lh: 14px;
$grid-columns: 12;
